# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
# END WordPress

RewriteCond %{HTTP_HOST} ^agenzia-enricob.rhcloud.com$
RewriteRule (.*)$ http://www.agenziabaioni.com/$1 [R=301,L]

RewriteRule ^/(.*)$ http://www.agenziabaioni.com/$1 [R=301,L]